/*text style begins*/

.jumbotron h1{
    color: red;
    font-size: 2.5em;
}

body{
    font-size: 20px;
}

h2{
    color: red;
    font-size: 2em;
}

h1, h2, p, button{
    font-family: sans-serif;
}

h3{
    text-align: center;
    color: red;
    font-size: 1.5em;

}

/*text style ends*/

.jumbotron{
    background-image: url('./eminem1.jpg');
    background-size: cover;
    color: white;
    background-position: top;
}

body{
    background-color: grey;
}


button{
    height: 37px;
    width: 149px;
    font-size: 1em;
    color: red;
}

img{
    width:100%;
    margin-bottom: 1%;
}

.inline-block{
    display: inline-block;
}

form{
    color:green;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
}

#submit_post{
    text-align: center;
    margin-top: 1%;
}

#result{
    text-align: center;
    font-size: 20px;
    color: white;

}

.margintop{
    margin-top: 1%;
}


/*media queries start */



@media (max-width:222px) {
    .btn{
        padding: 2px 4px;
        font-size: 9px;
        line-height: 2;
        width: 100%;
    }

    .jumbotron h1{
        color: red;
        font-size: 21px;
    }

    h3, p{
        font-size: 0.5em;
    }

    h2{
        font-size: 1em;
    }

    form{
        font-size: 0.5em;
    }

    button{
        font-size: 0.5em;
    }

    
}

@media (max-width:700px) {
    .jumbotron h1{
        color: green;
    }

    h2, h3{
        color: green;
    }
    
}