body{
    margin:0;
}

/*you can add custom fonts as long as they are linked in your html file*/
span, p, h2, ul{
    font-family: 'Roboto', sans-serif;
}
nav{
	width: 100%;
	height:75px;
    /*using rgba allows you to control the opacity of the colour*/
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top:0;
	left:0;
    /*keeps the nav bar showing on top of other elements*/
    z-index:2;
}

header{
	width:100%;
    position: relative;
	text-align: center;
	margin:0 auto;
	height: 400px;
	background: url("images/header-background.jpg") 50% 50%;
    /*ensures that the background image completely covers the div,
    some parts of the image may not be visible*/
    background-size:cover;
}

/*the > symbol denotes a direct child element*/
header > h2{
    font-size:50px;
    color: rgb(41,148,251);
    margin:0;
    /*the below css properties combine as a useful tool for centering elements*/
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
}

nav > .logo{
    position:relative;
    height: 75px;
}

nav > .logo img{
    height:100%;
}

/*:hover is a pseudo class, these properties only apply
when the user is hovering over the specified element*/
nav > .logo img:hover{
    cursor:pointer;
}

/*using percentages instead of pixels provides the elements
with an aspect of responsiveness*/
aside{
	width:20%;
	float:left;
}

.sidebar-list{
    font-size:20px;
    list-style-type:none;
    color:rgb(25,69,189);
    margin:0;
    padding:30px;
}

.sidebar-list>li{
    margin-bottom:15px;
    padding-left:10px;
}

.sidebar-list>li:hover{
    cursor:pointer;
    border-left: 5px solid rgb(41,148,251);
    margin-left: -5px;
    color:black;
}

.main-container{
	margin-left:20%;
	width:80%;
    padding-left:30px;
    box-sizing:border-box;
}

.main-container > h2 {
    font-size:30px;
    color: rgb(25,69, 189);
    text-align:left;
}

.content{
	width:200px;
	height: 200px;
    border:black solid 1px;
    border-radius:5px;
	float:left;
	margin: 0 30px 30px 0;
    padding:5px;
    position:relative;
}

.content>p{
    font-size:20px;
    color:black;
    margin:10px;
}

.content>span{
    font-size:15px;
    color: rgb(41,148,251);    
    position:absolute;
    right:20px;
    bottom:20px;
}

.content>span:hover{
    cursor:pointer;
}